    </main>
    
    <footer class="bg-primary px-4 py-2 relative flex items-center sm:justify-between justify-center flex-wrap gap-8">
        <img src="/images/Footer.svg" alt="Footer" class="absolute top-0 left-0 -translate-y-1/2 w-1/2 min-w-[250px]">
        <div>
            <h1 class="link font-primary text-secondary text-xl mb-4">Reach Us</h1>
            <ul class="flex gap-x-8 mb-8">
                <li><a href=""><i class="fa-2xl fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-2xl fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-2xl fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-2xl fa-brands fa-discord"></i></a></li>
            </ul>
            <a href="<% if(isAuthenticated) {%>/logout<% } else { %>/login<% } %>"><button class="bg-secondary button-shadow rounded-full px-8 py-2 text-black cursor-pointer"><i class="fa-solid fa-user"></i>&nbsp;<%= isAuthenticated ? "Logout" : "Login" %></button></a>

        </div>
        <div>
            <img src="/images/Embelem.gif" alt="SRM Team Robocon" class="md:w-48 w-24 inline">
            <img src="/images/SRM.png" alt="SRM" class="md:w-48 w-24 inline">
        </div>
    </footer>
    <div class="text-center bg-quaternary text-secondary py-4">
        Created with <i class="fa-solid fa-screwdriver-wrench"></i> by members at SRMTeamRobocon
    </div>
    
</body>
</html>