
    <footer class="text-lg text-center p-4 bg-black text-white">
        <div class="flex items-center">
            <% if(!isAuthenticated) { %>
                <a href="/login"><button class="px-2 py-2 border-2 border-white">Login</button></a>
            <% } else { %>
                <a href="/logout"><button class="px-2 py-2 border-2 border-white">Logout</button></a>
            <% } %>
        </div>
        <p class="">Created with <span class="text-red-500">&hearts;</span> by your Team Robocon</p>
    </footer>
</body>
</html>