
    <footer class="text-lg text-center p-4 bg-black text-white">
        <p class="animate__animated animate__delay-1s anim5">Created with <span class="text-red-500">&hearts;</span> by your Team Robocon</p>
    </footer>
     <!-- <script>
 
 const images5 = document.querySelectorAll('.anim5'); 
    observer5 = new IntersectionObserver((entries5)=>{ 
        entries5.forEach(entry => {  
           entry.target.classList.toggle("animate__swing", entry.isIntersecting) 
        }),{threshold: 1} 
    })
    images5.forEach(imaged=>{
        observer5.observe(imaged)
    })
     
     </script> -->
</body>
</html>