<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/acbdca7f8c.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/output.css">

    <script defer src="/js/header.js"></script>
    
    <title> <%= docTitle %> </title>
</head>
<body>
    
    <nav class="flex items-center justify-between px-2 h-[100px] bg-black text-white">
        
        <% if(isAuthenticated) { %> 
            <p><%= admin.name %></p>
        <% } else { %>
            <img src="#" alt="Logo">
        <% } %>

        <ul id="menu" class="md:flex md:gap-x-4 -translate-y-[100vh] md:-translate-y-0">
            <% if(!isAuthenticated) { %>
                <li><a href="/">Home</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/achievements">Achievements</a></li>
                <li><a href="/alumni">Alumni</a></li>
            <% } else { %>
                <li><a href="/admin/">Panel</a></li>
                <li><a href="/admin/task">Tasks</a></li>
                <% switch (admin.position) {
                    case 'Team lead' : %>
                        <li><a href="/admin/achievements">Achievements</a></li>
                        <li><a href="/admin/team">Members</a></li>
                        <li><a href="/alumni">Alumni</a></li>
                        <% break;               
                    case 'Lead' : %>
                        <li><a href="/admin/team">Members</a></li>
                        <% break;              
                } %>
            <% } %>
        </ul>
        <div>
            <% if(isAuthenticated) { %> 
                <button class="px-2 py-1 border-2 rounded-sm hover:bg-white hover:text-black"><a href="/logout">Logout</a></button> 
            <% } else { %>
                <button class="px-2 py-1 border-2 rounded-sm hover:bg-white hover:text-black"><a href="/login">Login</a></button>
            <% } %>
            <button id="navbar-toggler" class="ml-2 md:hidden"><i class="fa-xl fa-solid fa-bars"></i></button>
        </div>
    </nav>