<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/acbdca7f8c.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/output.css">
 
    <script defer src="/js/header.js"></script>
    <script defer src="/js/client.js"></script>
    <script defer src="/js/home.js"></script>
    
    <title> <%= docTitle %> </title>
</head>
<body>

    <div class="w-full h-screen backdrop-blur-sm fixed hidden" id="overlay"></div>

    <nav class="flex items-center justify-between p-4 h-[75px] bg-black text-white fixed w-full z-50">
        
        <% if(isAuthenticated) { %> 
            <p><%= admin.name %></p>
        <% } else { %>
            <a href="#home"><img width="150px" src="images\Logo.png" alt="Logo"></a>
        <% } %>

        <ul id="menu" class="md:flex gap-x-4 -translate-y-[100vh] md:-translate-y-0 text_orbitron">
            <% if(!isAuthenticated) { %>
                <li><a class="hover:text-robo-red animate__animated anim7" href="/">Home</a></li>
                <li><a class="hover:text-robo-red animate__animated anim7" href="/team">Our Team</a></li>
                <li><a class="hover:text-robo-red animate__animated animate__delay-1s anim7" href="/achievements">Achievements</a></li>
                <li><a class="hover:text-robo-red animate__animated animate__delay-1s anim7" href="/alumni">Alumni</a></li>
            <% } else { %>
                <li><a href="/admin/">Panel</a></li>
                <li><a href="/admin/task">Tasks</a></li>
                <% switch (admin.position) {
                    case 'Team lead' : %>
                        <li><a href="/admin/achievements">Achievements</a></li>
                        <li><a href="/admin/team">Members</a></li>
                        <li><a href="/admin/alumni">Alumni</a></li>
                        <% break;               
                    case 'Lead' : %>
                        <li><a href="/admin/team">Members</a></li>
                        <% break;              
                } %>
            <% } %>
        </ul>

        <button id="navbar-toggler" class="md:hidden" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
            <svg width="50" height="50" viewBox="0 0 100 100">
              <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
              <path class="line line2" d="M 20,50 H 80" />
              <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
        </button>

        </div>
    </nav>
    