<%- include("../includes/header.ejs") %>
    <section class="w-full pt-12 md:pl-24 md:pr-24 text-secondary font-secondary text-center">
        <h1  class="text-4xl mb-4 text-center text-secondary font-primary pt-10">Know <span class="text-tertiary">Who We Are</span></h1>
        <div>
            <div class="flex items-center justify-center md:flex-nowrap flex-wrap mb-20 md:mb-0">
                <div class="clip-3 max-w-xl min-w-[300px] max-h-[550px] m-10 md:m-24 flex-1 five animate">
                    <img src="/images/gallery/col2 (2).png" alt="" class="w-full">
                </div>
                <div class="flex-none md:w-1/3 w-full md:m-24 five animate">
                    <h2 class="text-lg md:text-2xl md:text-left text-center">SRM Team Robocon was founded all the way back in 2011. It is the very first technical team to be founded in the campus of SRMIST. </h2>
                </div>
            </div>
            <div class="flex items-center justify-center md:flex-nowrap flex-wrap-reverse mb-20 md:mb-0">
                <div class="flex-none md:w-1/3 w-full md:m-24 four animate">
                    <h2 class="text-lg md:text-2xl md:text-right text-center">A group of 19 students who had just participated in the Indian Science congress heard about a competition known as ABU Robocon, and decided to try their luck. </h2>
                </div>
                <div class="clip-4 max-w-xl min-w-[300px] max-h-[550px] m-10 md:m-24 flex-1 four animate">
                    <img src="/images/gallery/col1 (5).png" alt="" class="w-full">
                </div>
            </div>
            <div class="flex items-center justify-center md:flex-nowrap flex-wrap mb-20 md:mb-0">
                <div class="clip-3 max-w-xl min-w-[300px] max-h-[550px] m-10 md:m-24 flex-1 five animate">
                    <img src="/images/gallery/col3 (3).png" alt="" class="w-full">
                </div>
                <div class="flex-none md:w-1/3 w-full five animate">
                    <h2 class="text-lg md:text-2xl md:text-left text-center">The initial enthusiasm set the ball rolling for what would become SRM Team Robocon</h2>
                </div>
            </div>
            <div class="flex items-center justify-center md:flex-nowrap flex-wrap-reverse mb-20 md:mb-0">
                <div class="flex-none md:w-1/3 w-full md:m-24 four animate">
                    <h2 class="text-lg md:text-2xl md:text-right text-center">Since then, we have come a long way. We have participated in ABU Robocon almost every year, achieving staggering results along the way. Several members of the club have gone on to form technical teams of their own.</h2>
                </div>
                <div class="clip-4 max-w-xl min-w-[300px] max-h-[550px] m-10 md:m-24 flex-1 four animate">
                    <img src="/images/gallery/col3 (6).png" alt="" class="w-full">
                </div>
            </div>
            <div class="flex items-center justify-center md:flex-nowrap flex-wrap mb-20 md:mb-0">
                <div class="clip-3 max-w-xl min-w-[300px] max-h-[550px] m-10 md:m-24 flex-1 five animate">
                    <img src="/images/gallery/col1 (4).png" alt="" class="w-full">
                </div>
                <div class="flex-none md:w-1/3 w-full five animate">
                    <h2 class="text-lg md:text-2xl md:text-left text-center">At the very basis of it, we’re not only a team that builds robots. We’re a team that likes being presented with challenges and problems.</h2>
                </div>
            </div>
            <div class="flex items-center justify-center md:flex-nowrap flex-wrap-reverse mb-20 md:mb-0">
                <div class="flex-none md:w-1/3 w-full md:m-24 four animate">
                    <h2 class="text-lg md:text-2xl md:text-right text-center">We love to reinvent ourselves every year. </h2>
                </div>
                <div class="clip-4 max-w-xl min-w-[300px] max-h-[550px] m-10 md:m-24 flex-1 four animate">
                    <img src="/images/gallery/col4 (1).png" alt="" class="w-full">
                </div>
            </div>
        </div>
    </section>
<%- include("../includes/footer.ejs") %>