<%- include("../includes/header.ejs") %>
    <section class="pt-12 text-secondary font-secondary text-center">
        <h1 class="text-4xl mb-4 text-center text-secondary font-primary">Our <span class="text-tertiary">Achievements</span></h1>
        <p>The ones who have made our team what it is today and help us reach new heights through their unwavering support.</p>
        <p class="mb-12">Our alumni present us with a unique opportunity to build a foundation of support to be a strong team.</p>
    </section>
    <section class="flex flex-wrap items-center justify-center">
        <% if(achievements.length > 0) { %>
            <% for(achievement of achievements) { %>
                <article class="p-4 bg-glass flex flex-col items-center text-secondary font-secondary">
                    <img src="/images/achievements/<%= achievement.name %>.jpg" class="mb-4 w-[200px]" loading="lazy">
                    <p><%= achievement.description %></p>
                </article>
            <% } %>
        <% } else { %>
            <h1><h1 class="text-xl text-secondary font-secondary">No Achievements :(</h1></h1>
        <% } %>
    </section>
<%- include("../includes/footer.ejs") %>