<%- include("../includes/header.ejs") %>

<main class="min-h-screen">
    <section class="pt-[100px]">
        <p>Achievements Section</p>
    </section>
</main>

<%- include("../includes/footer.ejs") %>