<%- include("../includes/header.ejs") %>

    <section class="pt-12 text-secondary font-secondary text-center">
        <h1 class="text-4xl mb-4 text-center text-secondary font-primary">Our <span class="text-tertiary">Gallery</span>
        </h1>
        <p class="mb-12">Some of our Snapshots</p>
    </section>

    <section class="flex justify-center mb-20">
        <!-- Add Beautiful Image Gallery here
            1. Based on these Layout: https://uicookies.com/free-photo-gallery-templates/
            2. Add Scroll Lazy Loading: https://youtu.be/mC93zsEsSrg
        -->


        <div class="flex flex-col md:grid md:grid-cols-4 gap-4 w-4/5 md:w-3/4" id="images">
            <div class="flex flex-col gap-4" id="imageColumn">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col1 (1).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col1 (2).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col1 (3).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col1 (4).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col1 (5).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col1 (6).png" alt="">
                </div>
                
            </div>
            <div class="flex flex-col gap-4 h-auto" id="imageColumn">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col2 (1).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col2 (2).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col2 (3).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col2 (4).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col2 (5).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col2 (6).png" alt="">
                </div>
                
            </div>
            <div class="flex flex-col gap-4" id="imageColumn">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col3 (1).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col3 (2).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col3 (3).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col3 (4).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col3 (5).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col3 (6).png" alt="">
                </div>
                
            </div>
            <div class="flex flex-col gap-4" id="imageColumn">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col4 (1).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col4 (2).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col4 (3).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col4 (4).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col4 (5).png" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="/images/gallery/col4 (6).png" alt="">
                </div>
                
            </div>
        </div>

    </section>

    <%- include("../includes/footer.ejs") %>

