<%- include("../includes/header.ejs") %>

    <section class="pt-12 text-secondary font-secondary text-center">
        <h1 class="text-4xl mb-4 text-center text-secondary font-primary">Our <span class="text-tertiary">Gallery</span>
        </h1>
        <p class="mb-12">Some of our Snapshots</p>
    </section>

    <section class="flex justify-center mb-20">
        <!-- Add Beautiful Image Gallery here
            1. Based on these Layout: https://uicookies.com/free-photo-gallery-templates/
            2. Add Scroll Lazy Loading: https://youtu.be/mC93zsEsSrg
        -->


        <div class="flex flex-col md:grid md:grid-cols-4 gap-4 w-4/5 md:w-3/4" id="images">
            <div class="flex flex-col gap-4">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1620712943543-bcc4688e7485?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cm9ib3RpY3N8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1589254066213-a0c9dc853511?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHJvYm90fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
            </div>
            <div class="flex flex-col gap-4 h-auto">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1601132359864-c974e79890ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHJvYm90fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://plus.unsplash.com/premium_photo-1664302451038-f4b6c1600b99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div class="">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1561144257-e32e8efc6c4f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1558137623-ce933996c730?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1612914039075-943af2485b59?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1603356033288-acfcb54801e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1643199319409-84b7066f45b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1562758778-e5638b5b6607?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <div class="">
                    <img class="h-auto max-w-full "
                        data-lazy="https://images.unsplash.com/photo-1581399909989-621044fed328?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHJvYm90aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
            </div>
        </div>

    </section>

    <%- include("../includes/footer.ejs") %>

