<%- include("../includes/header.ejs") %>  
  
<main class="snap-y overflow-y-auto pt-[100px] bg-dark-blue">
    
    <section class="snap-always snap-start mx-auto px-4 py-12 min-h-[calc(100vh-100px)] max-w-7xl grid sm:grid-cols-[1.5fr_1fr] place-items-center gap-8 text-white text_orbitron" >
        
        <article class="">
            <h1 class="text-4xl text_eurofighter">Lorem <span class="text-red-600">ipsum</span> dolor sit </h1>
            <p class="mt-4 text-xl text text_raleway300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel! Culpa recusandae harum voluptates id? Suscipit recusandae laboriosam nobis eligendi!</p>
            <button class="mt-8 bg-red-600 shadow-white shadow-sm px-4 py-2 md:px-8 md:py-4 rounded font-bold hover:bg-red-700"><a href="#">View More</a></button>
        </article>
        
        <img class="w-96" src="images/bot-1.png" alt="Robot" loading="lazy">
        
        <div class="col-span-full mt-12 flex flex-wrap items-center justify-center gap-x-12 gap-y-4 text-center text-md md:text-2xl">
            <div class=""><span id="members_count" class="text-2xl md:text-4xl block">0+</span><caption class="">Members</caption></div>
            <div class=""><span id="participations_count" class="text-2xl md:text-4xl block">0+</span><caption class="">Participations</caption></div>
            <div class=""><span id="robots_count" class="text-2xl md:text-4xl block">0+</span><caption class="">Robots</caption></div>
            <div class=""><span id="alumini_count" class="text-2xl md:text-4xl block">0+</span><caption class="">Alumnis</caption></div>
        </div>

    </section>

</main> 

<%- include("../includes/footer.ejs") %>