<%- include("../includes/header.ejs") %>

<main class="min-h-screen  bg-white ">
    <section class="pt-24">
        <div class="w-full"><img class="w-full" src="images\CarouselImage1.png" alt="" srcset=""></div>
        <div>
            <h1 class="orbitron_font">Lorem Ipsum</h1>
            <h2 class="orbitron_font">Dolor sit amet consecutur adispiscis</h2>
            <p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
        </div>
    </section>
</main>

<%- include("../includes/footer.ejs") %>