<%- include("../includes/header.ejs") %>

<section class="min-h-[calc(100vh-75px)] flex items-center justify-center">
    <form action="/login" method="POST" class="p-4 flex flex-col gap-2 bg-glass">
        <div class="form-control border-b-2">
            <label for="register-number" class="block mb-2"> Register no: </label>
            <input type="text" id="register-number" name="registerNo" required class="outline-none w-full bg-transparent">
        </div>
        <div class="border-b-2 mb-4">
            <label for="password" class="block mb-2"> Password: </label>
            <input type="password" id="password" name="password" required class="outline-none w-full bg-transparent">
        </div>
        <input type="submit" value="Sign in" class="bg-black text-white rounded-sm p-2 cursor-pointer">
    </form>
</section>

<%- include("../includes/footer.ejs") %>