@tailwind base;
@tailwind components;
@tailwind utilities;

ul.active{
    position: fixed;
    top: 108px;
    display: block;
    transform: translateY(0px);
    transition-duration: 0.5s;
    width: calc(100% - 16px);
    background-color: black;
    text-align: center;
}
ul.active a {
    display: block;
    padding: 16px;
}
ul.active a:hover{
    background-color: rgb(10, 10, 10);
}